* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #637d96;
   
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}
.container {
    background-color: azure;
    width: 70vw;
    max-width: 38em;
    padding: 3em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

.search-wrapper {
    display: flex;
    width: 20vw;
    height:6vh;
}
#search-btn {
    background-color: #3d77b6; 
    text-align: center;
    height: fit-content;
    color: white;
    border: none;
    width:auto;
    padding: 10px ;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    border-radius: 5px;
    font-size: 1rem;
}

#result {
    margin-top: 1.25em;
}
.container .flag-img {
    display: block;
    width: 50%;
    min-width: auto;
    margin: 1.7em auto 1.2em auto;
}
.container h2{
    font-weight: 700;
    color: #3d77b6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.4px;
}
.container h4 {
    display: inline;
    font-weight: 500;
    color: cornflowerblue;

}
.container span {
    color: grey;
}
.container h4 {
    display: inline;
    font-weight: 500;
    text-align: center;

}
/* now do styles as much as you want */
/* add media query for responsive */
@media screen and (max-width: 576px){
    .countries{
        grid-template-columns: repeat(1, 1fr);
    }
}