@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}


body{
    background-color: purple;
   
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Fugaz One', sans-serif;
    font-size: 5em;
    color: yellow;
}
.container {
    background-color: azure;
    max-width: 25%;
    max-height: fit-content;
    padding: 1.5em;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    text-align: center;
}

.search-wrapper {
    display: flex;
    width: 20vw;
    height:6vh;
    padding-top: 0em;
}

#country-name{
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

#search-btn {
    background-color: purple; 
    text-align: center;
    height: fit-content;
    color: white;
    border: none;
    width:auto;
    padding: 10px ;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Fugaz One', sans-serif;
    color: yellow;
}

#search-btn:hover {
    transform: scale(1.2);
    transition: transform 1.5s ease;
    background-color: fuchsia;
  }


#result {
    position: flex relative;
    background-color: black;
    margin-top: 5em;
    max-width: 45%;
    max-height: fit-content;
    overflow: auto;
    border-radius: 10px;
    padding: 3em;
    margin: 1em 2em 1em 3em;
    color: white;
}

.container .flag-img {
    display: block;
    width: 50%;
    margin: 1.7em auto 1.2em auto;
}
.container h2{
    font-family: 'Fugaz One', sans-serif;
    font-size: 2.5em;
    color: purple;
    padding-top: 0em;
}
.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.4px;
}
.container h4 {
    display: inline;
    font-weight: 500;
    color: cornflowerblue;

}
.container span {
    color: grey;
}
.container h4 {
    display: inline;
    font-weight: 500;
    text-align: center;
}

#bannerWrapper {
 position: relative;
 display: flex;
}

.banner {
    flex: 1;
    width: 33%;
}

#chatGPT-results{
    display: none;
}

#loading-indicator{
    display: none;
}

@media screen and (max-width: 576px){
    .countries{
        grid-template-columns: repeat(1, 1fr);
    }
}

