/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

/* Universal styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

/* Body styles */
body {
    background-color: purple;
}

/* Heading styles */
h1, h2, h3 {
    font-family: 'Fugaz One', sans-serif;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 5em;
    color: yellow;
}

h2 {
    font-size: 2.5em;
    color: purple;
}

h3 {
    font-size: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

li{
    list-style-type: none;
}

/* Container styles */
#container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    background-color: azure;
    max-width: 400px; 
    padding: 1.5em;
    margin: auto; 
    text-align: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

/* Search styles */
.search-wrapper {
    display: flex;
    width: 20vw;
    height: 6vh;
    padding-top: 0em;
}

#country-name {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

#search-btn {
    background-color: purple; 
    text-align: center;
    height: fit-content;
    color: yellow;
    border: none;
    width: auto;
    padding: 10px;
    cursor: pointer;
    margin-top: 1em;
    transition: background-color 0.2s, transform 0.2s;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Fugaz One', sans-serif;
}

#search-btn:hover {
    transform: scale(1.2);
    background-color: fuchsia;
}

/* Loading indicator */

#loading-container{
    display: none;
    margin-bottom: 1em;
}
#loading-indicator {
    border: 5px solid yellow; 
    border-top: 5px solid purple; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto; 
}

#loading-text{
    color: yellow;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Results box */
#results-box {
    flex-direction: row;
    justify-content: space-evenly;
    display: none;
    flex-wrap: wrap;
}

/* Result and ChatGPT results styles */
#result, #chatGPT-results {
    background-color: black;
    margin-top: 5em;
    max-width: 42%;
    max-height: fit-content;
    overflow: auto;
    border-radius: 15px;
    padding: 3em;
    margin: 1em 2em 1em 3em;
    color: white;
    font-family: 'Roboto Slab', serif;
    flex-wrap: wrap;
    flex-shrink: 0;
}

/* Travel links */
#travel-links {
    width: fit-content;
    display: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    border-radius: 15px;
    padding: 2em;

}

#link-title {
    color: yellow;
    font-size: 2em;
    
}

#booking-link {
    background-color: #003580;
    color: #feba02;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 1em;
    width: fit-content;
    cursor: pointer;
}

#booking-link:hover {
    transform: scale(1.2);
    background-color: blue;
}

/* Flag image */
.flag-img {
    display: block;
    width: 80%;
    margin: 1.7em auto 1.2em auto;
    box-shadow: 0 0 10px 5px #48abe0, 0 0 20px 7px #ebecca;
}

/* Banner styles */
.bannerWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-height: 500px;
    object-fit: cover;
    z-index: 1;
}

.banner {
    width: 33%;
    height: auto;
    transition: opacity 0.5s ease;
    object-fit: cover;
}

/* Chat subtitles */
.chat-subtitles {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
}

/* Image container styles */
#image-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Image item styles */
.image-item {
    transition: 1s;
    display: none;
}

.image-item img {
    max-height: 500px;
    max-width: fit-content;
}

/* Footer styles */
footer {
    background-color: yellow;
}

.footer-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    text-align: center;
    padding-left: 8em;
    padding-right: 8em;
}

/* Media queries */
@media screen and (max-width: 576px) {
    .countries {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px) {
    h1, h2, h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    #container {
        width: 80%; 
        padding: 1em;
    }

    .search-wrapper {
        width: 100%; 
        padding: 1em;
    }

    h1, h2, h3 {
        font-size: 2em; 
    }

    #result, #chatGPT-results {
        max-width: 100%; 
        margin: 1em; 
        padding: 1em; 
    }

    .fact-list {
        font-size: 1em; 
    }

    .footer-text {
        padding-left: 1em;
        padding-right: 1em;
    }

    #travel-links{
        padding: 0.5em;
    }

    #link-title {
        font-size: 1em;
        
    }

    #booking-link {
        font-size: 1em;
      
        padding: 0.5em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 1030px) {
    .bannerWrapper {
        flex-wrap: wrap-reverse;
        max-height: fit-content;
    }

    .banner {
        width: 100%;
    }
}
